{% extends "./base.html.twig" %}
{% block body %}

<div class="mainDiv">
<h1 class="bigLogo"><span class="bigMad">MAD </span>EVENTS</h1>
<h1>Tu plataforma para estar al día de los eventos en Madrid</h1>
</div>

{% endblock %}