{% extends "./base.html.twig" %}
{% block body %}

<div class="mainDiv">
<h1 class="bigLogo"><span class="bigMad">MAD </span>EVENTS</h1>
<div class="roundedDiv">
<h1>Tu plataforma para estar al día de los eventos en Madrid</h1>
<h2>En MAD Events podrás consultar todos los eventos interesantes que tienen lugar en Madrid, así como publicar los eventos que a tí te interesen, y consultar tu lista de publicaciones</h2>
<h3>¡Regístrate ya para estar al día de conciertos, fiestas, festivales y mucho más</h3>
<h3>Recuerda... MAD Events es tu página para no perderte nada</h3>
</div>
</div>

{% endblock %}